* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#linha1, #linha2, #cadastro, #brasil {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 35px;
}

img:hover {
    box-shadow: 10px 10px 25px gray;
    border-radius: 10px;
}


figcaption {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

img {
    width: 550px;
    height: 400px;
    margin: 25px;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: gray;
}

#brasil h3 {
    color: yellow;
    text-shadow: 1px 1px 1px black;
}

#brasil a {
    color: green;
}