* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 5vh 0vw;
    color: purple;
}

h3 {
    margin: 3vh 0vw;
    color: cyan;
}

p {
    color: white;
}